@media all and (min-width: 320px) and (max-width: 990px) {

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    justify-content: flex-start;
    padding-top: 6rem;
    background-color: rgb(70, 70, 70);
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .nav-list > li {
    line-height: 8rem;
  }

  .sub-menu,
  .sub-menu-clc,
  .sub-menu-clc7,
  .sub-menu-clc6,
  .sub-menu-cp,
  .sub-menu-cp1,
  .sub-menu-stc,
  .sub-menu-stc7,
  .sub-menu-tec1,
  .sub-menu-tec1-pt,
  .sub-menu-tec1-asi,
  .sub-menu-tec1-cpwh,
  .sub-menu-tec2,
  .sub-menu-tec2-sie,
  .sub-menu-tec2-abd,
  .sub-menu-tec3,
  .sub-menu-tec3-aic,
  .sub-menu-tec3-dp,
  .sub-menu-tec3-fc,
  .sub-menu-tec3-cr,
  .sub-menu-tec3-uag,
  .sub-menu-tec3-soic{
    position: initial;
    border: 3px solid transparent;
    border-left-color: #0088a9;
    margin-left: 1rem;
    max-height: 0;
    width: 100%;
  }

  .sub-menu::before,
  .sub-menu-clc::before,
  .sub-menu-clc7::before,
  .sub-menu-clc6::before,
  .sub-menu-cp::before,
  .sub-menu-cp1::before,
  .sub-menu-stc::before,
  .sub-menu-stc7::before,
  .sub-menu-tec1::before,
  .sub-menu-tec1-pt::before,
  .sub-menu-tec1-asi::before,
  .sub-menu-tec1-cpwh::before,
  .sub-menu-tec2::before,
  .sub-menu-tec2-sie::before,
  .sub-menu-tec2-abd::before,
  .sub-menu-tec3::before,
  .sub-menu-tec3-aic::before,
  .sub-menu-tec3-dp::before,
  .sub-menu-tec3-fc::before,
  .sub-menu-tec3-cr::before,
  .sub-menu-tec3-uag::before,
  .sub-menu-tec3-soic::before {
    display: none;
  }

  .sub-menu .sub-menu-clc,
  .sub-menu-clc .sub-menu-clc7,
  .sub-menu-clc .sub-menu-clc6,
  .sub-menu .sub-menu-cp,
  .sub-menu-cp .sub-menu-cp1,
  .sub-menu .sub-menu-stc,
  .sub-menu-stc .sub-menu-stc7,
  .sub-menu .sub-menu-tec1,
  .sub-menu-tec1 .sub-menu-tec1-pt,
  .sub-menu-tec1 .sub-menu-tec1-asi,
  .sub-menu-tec1 .sub-menu-tec1-cpwh,
  .sub-menu .sub-menu-tec2,
  .sub-menu-tec2 .sub-menu-tec2-sie,
  .sub-menu-tec2 .sub-menu-tec2-abd,
  .sub-menu .sub-menu-tec3,
  .sub-menu-tec3 .sub-menu-tec3-aic,
  .sub-menu-tec3 .sub-menu-tec3-dp,
  .sub-menu-tec3 .sub-menu-tec3-fc,
  .sub-menu-tec3 .sub-menu-tec3-cr,
  .sub-menu-tec3 .sub-menu-tec3-uag,
  .sub-menu-tec3 .sub-menu-tec3-soic {
  border-right: none;
}

  .nav-list li:hover > .sub-menu,
  .sub-menu li:hover > .sub-menu-clc,
  .sub-menu-clc li:hover > .sub-menu-clc7,
  .sub-menu-clc li:hover > .sub-menu-clc6,
  .sub-menu li:hover > .sub-menu-cp,
  .sub-menu-cp li:hover > .sub-menu-cp1,
  .sub-menu li:hover > .sub-menu-stc,
  .sub-menu-stc li:hover > .sub-menu-stc7,
  .sub-menu li:hover > .sub-menu-tec1,
  .sub-menu-tec1 li:hover > .sub-menu-tec1-pt,
  .sub-menu-tec1 li:hover > .sub-menu-tec1-asi,
  .sub-menu-tec1 li:hover > .sub-menu-tec1-cpwh,
  .sub-menu li:hover > .sub-menu-tec2,
  .sub-menu-tec2 li:hover > .sub-menu-tec2-sie,
  .sub-menu-tec2 li:hover > .sub-menu-tec2-abd,
  .sub-menu li:hover > .sub-menu-tec3,
  .sub-menu-tec3 li:hover > .sub-menu-tec3-aic,
  .sub-menu-tec3 li:hover > .sub-menu-tec3-dp,
  .sub-menu-tec3 li:hover > .sub-menu-tec3-fc,
  .sub-menu-tec3 li:hover > .sub-menu-tec3-cr,
  .sub-menu-tec3 li:hover > .sub-menu-tec3-uag,
  .sub-menu-tec3 li:hover > .sub-menu-tec3-soic {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  .menu-icons {
    display: block;
  }

  .ion-md-close {
    display: none;
  }

  nav.active .ion-md-close {
    display: block;
  }

  nav.active .ion-md-menu {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }

  .carousel-box h1 {
    font-size: 3rem;
  }

  .carousel-box h2 {
    font-size: 1.6rem;
    width: 80%;
    bottom: 20%;
  }

  .carousel-box h3 {
    font-size: 1.6rem;
  }

  .grid-container{
    grid-template-columns: 1fr;
  }

  iframe {
    height: 500px;
  }

  /* Rodapé */

  .footer-box {
    display: block;
    align-items: center;
  }
  
  .footer-name {
    text-align: center;
  }
  
  .footer-social{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

}